/* Importing social media icons for footer */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


/************ Constant code for all pages ************/
/* Overall Body */
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("hamilton-lake.jpg");
	background-size: cover; /* Makes image covers the entire background */
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed; /* Keeps the background fixed when scrolling */
}

/* Styles the Navigation Buttons */
.topnav a {
	color: white;
	padding: 10px 10px;
	font-weight: 600;
	text-decoration: none;
	font-size: 26px;
	margin-right: 70px;
	margin-bottom: 0px;
	transition: background-color 0.4s, color 0.3s;
}

/* Hover effect/animation for the navigation bar */
.topnav a:hover {
	background-color: lightgreen; /* Highlights the button lightgreen */
	color: black;
}

.topnav a.active {
	background-color: lightgreen; /* Stays lightgreen for the button  */
	color: black;
}

.topnav li {
	display: flex;
	align-items: center;
}

/* Background styling for the navigation bar */
.topnav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8); /* Makes the background color semi transparent */
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* Sets the size and location of logo on the navigation bar  */
.logo img {
	height: 70px;
	width: 140px;
	margin-top: 0px;
	margin-right: 440px;
}

/* Styling for the main content of the page */
main {
	border-radius: 0px;
	width: 55%;
	margin: auto;
	padding: 20px;
	background-color: #e5f9db;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	color: #000000;
	overflow: hidden;
	word-wrap: break-word; /* Break long sentences */
	text-align: center;
	line-height: 25px; /* Spacing between each sentences */
}

/* Makes sure that any image, video or iframes stay within the main container */
main img,
main video,
main iframe {
	max-width: 100%; /* To make sure the elements do not exceed the container width */
}

/* Styling for the page names */
#h1name {
	text-align: center;
	font-size: 35px;
	color: #35611F;
	padding-bottom: 10px;
}


/************ About Us Page ************/

/* Styling for the Table for the Meet The Team Section */
table {
	width: 66%;
	border-collapse: collapse;
	margin: 10px auto;
	font-size: 17px;
	text-align: center;
	word-wrap: break-word;
	table-layout: fixed;
}

th,
td {
	padding: 10px;
	border: 1px solid #ddd;
	color: #35611F;
	background-color: #ffffff;
}

td {
	color: #000000;
}

th {
	font-weight: bold;
}

/************ Virtual Tours Page ************/

/* First Row that styles where the video is located to be on the left and the text on the right */
.bt-wrapper1 {
	margin: 0px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.first-column {
	background-color: white;
	height: 100%;
}

.second-column {
	background-color: white;
	height: 100%;
	padding: 30px;
	border-radius: 0px 8px 8px 0px;
}

/* Sizing for the video */
@media screen and (max-width: 800px) {
	.row {
		flex-direction: column;
		height: 100%;
	}

	.first-column {
		height: 100%;
	}
}

/* Second Row that styles where the text on the right and the video is located to be on the left */
.bt-wrapper2 {
	margin: 0px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.third-column {
	background-color: white;
	height: 100%;
	padding: 30px;
	border-radius: 8px 0px 0px 8px;
}

.fourth-column {
	background-color: white;
	height: 100%;
}

/* Sizing for the video */
@media screen and (max-width: 800px) {
	.row {
		flex-direction: column;
		height: 100%;
	}

	.third-column {
		height: 100%;
	}
}

/* Third Row that styles where the video is located to be on the left and the text on the right */
.bt-wrapper3 {
	margin: 0px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.fifth-column {
	background-color: white;
	height: 100%;
}

.sixth-column {
	background-color: white;
	height: 100%;
	padding: 30px;
	border-radius: 0px 8px 8px 0px;
}

/* Sizing for the video */
@media screen and (max-width: 800px) {
	.row {
		flex-direction: column;
		height: 100%;
	}

	.fifth-column {
		height: 100%;
	}
}
/* Sizing for the heading text on the rows */
#h2name {
	font-size: 22px;
}

/************ Contacts Page ************/

/* Styles for the form */
form {
	max-width: 400px;
	margin: auto;
	padding: 20px;
	border: 1px solid #f2f2f2;
	border-radius: 8px;
	background-color: #ffffff;
}

/* Styles for form labels */
form label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

/* Styles for all input boxes */
form input[type="text"] {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #35611F;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
}

/* Styling for the submit button */
form input[type="submit"] {
	width: 50%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	border: 1px solid #35611F;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

/* Hover color on the submit button */
form input[type="submit"]:hover {
	background-color: #45a049;
}


/************ Footer ************/

/* Footer main styling */
footer {
	text-align: center;
	padding: 1px;
	background-color: black;
	color: white;
	font-size: 17px;
	line-height: 13px;
}

/* Setting up the social media icon placement*/
.fa {
	padding: 0px 1px 5px;
	font-size: 24px;
	width: 40px;
	text-align: center;
}

/* Hover effect for social media icons */
.fa:hover {
	opacity: 0.5;
}

/* Facebook Icon Styling*/
.fa-facebook {
	color: white;
	/* Transitions for opacity */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

/* Instagram Icon Styling */
.fa-instagram {
	color: white;
	/* Transitions for opacity */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.fa-youtube {
	color: white;
	/* Transitions for opacity */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
