/* Importing social media icons for footer */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/*** Constant code for all pages ***/

/* Overall Body */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("hamilton-lake.jpg");
	/* Add your image URL here */
	background-size: cover;
	/* Ensures the image covers the entire background */
	background-repeat: no-repeat;
	/* Prevents the image from repeating */
	background-position: center center;
	/* Centers the image */
	background-attachment: fixed;
	/* Keeps the background fixed on scroll */
}

/* Navigation bar code */
.topnav a {
	color: white;
	padding: 10px 10px;
	font-weight: 600;
	text-decoration: none;
	font-size: 26px;
	margin-right: 70px;
	margin-bottom: 0px;
	transition: background-color 0.4s, color 0.3s;
	/* Smooth transition for hover effect */
}

/* Hover effect/animation for the navigation bar */
.topnav a:hover {
	background-color: lightgreen;
	/* Highlight color */
	color: black;
}

.topnav a.active {
	background-color: lightgreen;
	color: black;
}

.topnav li {
	display: flex;
	align-items: center;
}

/* Background for the navigation bar */
.topnav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	/* Semi-transparent background */
	padding: 0px;
	margin: 0px;
	display: flex;
	/* Use flexbox for layout */
	justify-content: flex-end;
	/* Align children to the right */
	align-items: center;
	/* Center children vertically */
}

/* Navigation bar logo */
.logo img {
	height: 70px;
	width: 140px;
	margin-top: 0px;
	margin-right: 440px;
}

main {
	border-radius: 0px;
	width: 55%;
	margin: auto;
	padding: 20px;
	background-color: #e5f9db;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	color: #000000;
	overflow: hidden;
	/* Hide overflow content */
	word-wrap: break-word;
	/* Break long words */
	text-align: center;
	line-height: 25px;
}

main img,
main video,
main iframe {
	max-width: 100%;
	/* To make sure media elements do not exceed the container width */
}

#h1name {
	text-align: center;
	font-size: 35px;
	color: #35611F;
	padding-bottom: 10px;
}


/*** Home Page ***/


/*** About Us Page ***/

/* For Table for the Meet The Team Section */
table {
	width: 66%;
	border-collapse: collapse;
	margin: 10px auto;
	font-size: 17px;
	text-align: center;
	word-wrap: break-word;
	/* Ensures content wraps within the cell */
	table-layout: fixed;
	/* Ensures even spacing of columns */
}

th,
td {
	padding: 10px;
	border: 1px solid #ddd;
	color: #35611F;
	background-color: #ffffff;
}

td {
	color: #000000;
}

th {
	font-weight: bold;
}

/*** Virtual Tours Page ***/

/* First Row */
.bt-wrapper1 {
	margin: 0px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.first-column {
	background-color: white;
	height: 100%;
}

.second-column {
	background-color: white;
	height: 100%;
	padding: 30px;
	border-radius: 0px 8px 8px 0px;
}

@media screen and (max-width: 800px) {
	.row {
		flex-direction: column;
		height: 100%;
	}

	.first-column {
		height: 100%;
	}
}

/* Second Row */

.bt-wrapper2 {
	margin: 0px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.third-column {
	background-color: white;
	height: 100%;
	padding: 30px;
	border-radius: 8px 0px 0px 8px;
}

.fourth-column {
	background-color: white;
	height: 100%;
}

@media screen and (max-width: 800px) {
	.row {
		flex-direction: column;
		height: 100%;
	}

	.third-column {
		height: 100%;
	}
}

/* Third Row */

.bt-wrapper3 {
	margin: 0px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.fifth-column {
	background-color: white;
	height: 100%;
}

.sixth-column {
	background-color: white;
	height: 100%;
	padding: 30px;
	border-radius: 0px 8px 8px 0px;
}

@media screen and (max-width: 800px) {
	.row {
		flex-direction: column;
		height: 100%;
	}

	.fifth-column {
		height: 100%;
	}
}

#h2name {
	font-size: 22px;
}

/*** Contacts Page ***/

/* General styles for the form */
form {
	max-width: 400px;
	margin: auto;
	padding: 20px;
	border: 1px solid #f2f2f2;
	border-radius: 8px;
	background-color: #ffffff;
}

/* Styles for form labels */
form label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

/* General styles for all input boxes */
form input[type="text"] {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #35611F;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
}

/* Styling the submit button */
form input[type="submit"] {
	width: 50%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	border: 1px solid #35611F;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

form input[type="submit"]:hover {
	background-color: #45a049;
}


/* Footer */
footer {
	text-align: center;
	padding: 1px;
	background-color: black;
	color: white;
	font-size: 17px;
	line-height: 13px;
}

/* Setting up the social media icon placement*/
.fa {
	padding: 0px 1px 5px;
	font-size: 24px;
	width: 40px;
	text-align: center;
	text-decoration: none;
}

/* Hover effect for social media icons */
.fa:hover {
	opacity: 0.5;
}

/* Facebook Icon Styling*/
.fa-facebook {
	color: white;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

/* Instagram Icon Styling */
.fa-instagram {
	color: white;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.fa-youtube {
	color: white;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
